
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;

}


.fotos{
    width: 100%;
    height: 100%;
}
.foto{
    width: 300px;
    height: 210px;
}
.logut{
    width: 100px;
    height: 35px;
    background-color: #4a5568;
    color: white; display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: auto;
}

.login{
    width: 100%;
    height: 100vh;
    background-image: url("../images/back.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.form{
    width: 350px;
    height: 70%;
    /*background-color: rgba(89, 133, 206, 0.58);*/
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;



}

.labels{
    display: flex;
    flex-direction: column;
    width: 100%;
    /*margin-top: 30px;*/
}
.login-style{
    width: 100%;
    height: 50px;
    border-radius: 16px;
    margin-top: 10px;
    padding-left: 20px;
    font-size: 16px;
    background-color: transparent;
    /*outline: black;*/
    /*border: none;*/
    outline: none;
    border: 1px solid #fffdfd;
}
.login-middle{
    width: 470px;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(108, 147, 209, 0.27);
    flex-direction: column;
    border-radius: 8px;
}
.submit{
    width: 100%;
    height: 50px;
    /*margin-top: 40px;*/
    border-radius: 16px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    font-size: 18px;
    font-weight: 700;
}

.submit:hover{
    background-color: #6a6565;
    color: white;
}
h2{
    /*margin-top: 20px;*/
}
.reg{
    /*margin-top: 25px;*/
    /*margin-bottom: 20px;*/
    font-size: 20px;
    color: white;
}

.login-text{
    width: 100%;
    /*height: 40px;*/
    /*background-color: deeppink;*/
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}
.login-style::placeholder{
    font-size: 16px;
    color: white;

}
.links{
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    transition: ease-in-out 0.3s;
}
.links:hover{
    color: #716b6b;
    transition: ease-in-out 0.3s;
}
















/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: Arial, sans-serif;*/
/*}*/

body {
    background-color: #f3f4f6;
    color: #333;
    background-image: url("../images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: background 0.3s ease;
}

/*header:hover {*/
/*    background: linear-gradient(90deg, #ff6f61, #5a67d8);*/
/*}*/

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li a {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #f9eac3;
    transform: scale(1.15);
}

.sepet {
    color: #ffcc00;
    font-size: 1.4em;
    font-weight: bold;
}

.icerik {
    display: flex;
    margin: 140px auto 20px;
    width: 95%; /* Genişlik arttırıldı, yanlardan daha az boşluk olacak */
    max-width: 1400px;
    gap: 15px;
}

.urunler {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.34);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.urunler h2 {
    margin-bottom: 15px;
    font-size: 2em;
    color: #333;
}

.urun-listesi {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.urun-karti {
    height: max-content;
    width: max-content;
    /*background: #f1f1f1;*/
    /*padding: 15px;*/
    border-radius: 5px;
    /*border: 1px solid #ddd;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.urun-karti:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.slider {
    width: 25%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*.kaydirma-alani img {*/
/*    width: 100%;*/
/*    border-radius: 8px;*/
/*    display: none;*/
/*    transition: opacity 0.5s ease;*/
/*}*/

.kaydirma-alani img.aktif {
    display: block;
    opacity: 1;
}

header {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: background 0.3s ease;
}

header.kaydirildi {
    background: linear-gradient(90deg, #ff6f61, #5a67d8);
}

.product-slide {
    transition: opacity 0.5s ease-in-out; /* Geçiş efekti */
}

.card-body{
    height: 400px;
    display: flex;
    flex-direction: column;
    /*position: absolute;*/
}

.foto{
    z-index: 5;
    display: flex;
}

.fotos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto{
    width: 250px;
    height: 190px;
}
.urun-karti{
    display: flex;
    justify-content: center;
    align-items: center;

}

.kaydirma-alani{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logined-text{
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logined-main{
    font-weight: 700;
    font-size: 20px;
    /*height: ;*/
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    /*background-color: black;*/
    height: 40px;
}

.text1{
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
.slider-bars{
    width: 330px;
    height: 940px;
    /*background-color: #4a5568;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.09);
}

.look-fast{
    width: 100px;
    height: 56px;
    font-size: 22px;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.urun-body{
    background-color: rgba(35, 35, 33, 0.57);!important;
}

.urun-slide{
    background-color: rgba(35, 35, 33, 0.57);!important;
}

.text2{
    color: white;
    /*height: 15px;*/
}

.foto{
    background-size: cover;
    background-repeat: no-repeat;
}
.fotoss{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.atirbutlar{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    /*height: 100%;*/
    /*position: relative;*/
    /*background-color: white;*/
}

